* {
	box-sizing: border-box;
	font-size: 12px !important;
}

#wrapper {
	width: calc(100% - 100px);
	margin: 0 auto;
	margin-top: 190px;
	margin-bottom: 100px;
}

body {
	font-family: 'Menlo', sans-serif;
	font-weight: 300;
}

h1, h6 {
	font-family: 'Helvetica';
	font-weight: normal;
	letter-spacing: 0.7px;
	font-size: 28px !important;
	-webkit-text-stroke: 1.5px black;
}

h2 {
	font-family: 'Menlo', sans-serif;
	font-weight: 500;
	font-kerning: normal;
	font-size: 28px;
	margin-bottom: -20px;
	padding-top: 50px;
}

h3 {
	font-family: 'Menlo', sans-serif;
	padding-top: 30px;
	margin-bottom: -34px;
	font-size: 28px;
	font-weight: 300;
}

p {
	font-size: 12px;
}

header p {
	display: inline;
	opacity: 0.6;
	font-style: italic;
}

.flex {
	display: flex;
	flex-wrap: wrap !important;
}

#about-section {
	margin: 0 auto;
	display: table;
	margin-top: 120px;
}

.grid-container {
	display: grid;
	grid-template-rows: 50px 1fr;
	grid-template-columns: 1fr 1fr 1fr;
}

#matt-welter {
	grid-row: 1;
	grid-column: 1;
	justify-self: end !important;
}

.biggeremoji {
	font-size: 28px !important;
	letter-spacing: 3.5px;
	grid-row: 1;
	grid-column: 2;
	margin: 0 auto;
    padding-top: 25px;
}

#reach-me {
	grid-row: 1;
	grid-column: 3;
	margin: 0;
    padding-top: 25px;
}

#introparagraph {
	padding-left: 285px;
	margin-top: -200px;
}

#portrait {
	height: 250px;
    padding-right: 35px;
}

.float-right {
	float: right;
}

#about-section span {
	display: none;
}





nav, a {
	font-family: 'Circular Std';
	font-size: 22px;
	line-height: 28px;
	letter-spacing: .2px;
}

nav {
	text-align: left;
	z-index: 1;
	margin-left: 10px;
	padding-bottom: 0px;
	max-width: 1500px;
}

nav a {
	display: inline;
	margin-left: 14px;
	margin-bottom: 1em;
	text-decoration: none;
	padding-bottom: 2px;
}

nav li {
	display: inline;
	margin-left: -24px;
}

nav a:link {
	color: black;
}

nav a:visited {
	color: black;
}

nav ul {
	list-style-type: none;
	padding-left: 0;
	display: inline;
}





.section-title {
	font-family: 'Arial Rounded MT Bold';
	font-weight: normal;
	letter-spacing: -1px;
	-webkit-text-stroke: 1px black;
	font-size: 3vw !important;
	padding-left: 15px;
}

#artwork-container {
	margin-top: 100px;
	margin: 0 auto;
	display: block;
	max-width: 1500px;
}

#artwork-content {
	display: flex;
	flex-wrap: wrap;
}

#artwork-content img, #photo-content img {
	width: 29vw;
	padding: 2vw 1vw 0px 1vw;
}

#video-container {
	margin-top: -25px;
	margin: 0 auto;
	display: block;
	max-width: 1500px;
}

#video-content {
	margin-left: -8px;
}

.video-span img {
	width: 41.4vw;
	position: relative;
    display: inline-block;
    border: 1px solid grey;
    padding: 0.5px 1px 0.5px 0px;
}

.video-span {
	padding-top: 35px;
    padding-left: 25px;
    padding-right: 10px;
    position: relative;
	display: inline-block;
}

.video-span:hover span, .video-span:hover span {
	display: block;
	width: 29vw;
	height: 100%;
	position: absolute;
	text-align: center;
	top: 0;
	left: 0;
	display: inline-block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 6% 0% -9% 0%;
    transition: all .4s ease;
}

.video-span:hover img, .video-span:hover img {
	opacity: 0.2;
	transition: all .4s ease;
}

.video-span span {
	display: none;
	padding-top: 22%;
	padding-left: 34%;
	font-size: 1.4em !important;
}

#photo-container {
	margin-top: -25px;
	margin: 0 auto;
	display: block;
	max-width: 1500px;
	padding-top: 100px;
}

#photo-content {
	display: flex;
	flex-wrap: wrap;
}

.photo-span {
	position: relative;
	display: inline-block;
	font-family: 'Helvetica';
}

.photo-span:hover span, .photo-span:hover span {
	display: block;
	width: 29vw;
	height: 100%;
	position: absolute;
	text-align: center;
	top: 0;
	left: 0;
	display: inline-block;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 6% 0% -9% 0%;
    transition: all .4s ease;
}

.photo-span:hover img, .photo-span:hover img {
	opacity: 0.2;
	transition: all .4s ease;
}

.photo-span span {
	display: none;
	padding-top: 40%;
	font-size: 1.4em !important;
}

.span-hover-title {
	font-weight: bold;
	font-size: inherit;
}

.span-padtop-fix {
	padding-top: 60% !important;
}



/*

MAIN BODY

*/

* {
	font-size: 12px;
}

.main {
	font-family: 'Circular Std';
	font-size: 17.5px;
	line-height: 32px;
	letter-spacing: 0px;
}

.link {
	font-family: inherit;
	font-size: 12px;
	padding: 0px 2px 0px 2px;
	color: black;
	text-decoration: underline;
}

.link:hover {
	color: white;
    background: gray;
    text-decoration: none;
}

.headline {
	padding: 2px 4px 2px 4px;
	font-family: inherit;
	font-size: inherit;
	background: #0000ff;
	color: white;
}

.headline:hover {
	cursor: pointer;
}

.title {
	font-family: inherit;
	letter-spacing: 0px;
	margin-left: 16px;
	font-size: 12px;
}

.desc {
	border: 1px solid black;
	padding: 6px;
	max-width: 700px;
	font-family: inherit;
	font-size: 12px;
	line-height: inherit;
	background: inherit;
	color: inherit;
	margin: -6px 0px -6px 36px;
}

.lightgrey {
	color: darkgrey;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	background: inherit;
}

::selection {
	color: inherit;
    background: inherit;
}








@media screen and (max-width: 1400px) {
	#wrapper {
		margin-top: 120px;
	}
	#portrait {
		height: 210px;
		padding-right: 15px;
	}
	#introparagraph {
		padding-left: 245px;
		margin-top: -173px;
		font-size: 11.4px !important;
	}
	.link {
		font-size: 11.4px !important;
	}
	#introparagraph a {
		line-height: 24px;
	}
	.biggeremoji {
		font-size: 24px !important;
		letter-spacing: ;
	}
	#artwork-container {
		padding-top: 50px;
	}
	.video-span img {
		width: 85vw;
	}
	.video-span {
		padding-top: 25px;
	    padding-left: 25px;
	    padding-right: 10px;
	}
	.video-span span {
		width: 700px !important;
		padding-top: 20%;
   		padding-left: 41%;
	}
}



@media screen and (max-width: 1112px) {
	#wrapper {
		width: calc(100% - 40px);
	}
	#artwork-content img, #photo-content img {
		width: 47vw;
	}
	.photo-span:hover span {
		margin: 6% 0% -9% 17%;
	}
	.video-span img {
		width: 92vw;
	}
	.video-span {
		padding-top: 30px;
    	padding-left: 10px;
	}
	.video-span span {
		width: 700px !important;
		padding-top: 22%;
   		padding-left: 32%;
	}
}

@media screen and (max-width: 1024px) {
	#wrapper {
		width: 100%;
		margin-bottom: 40px;
	}
	#artwork-content img, #photo-content img {
		width: 49vw;
	}
	.photo-span:hover span {
		margin: 6% 0% -9% 17%;
	}
	.section-title {
		font-size: 4vw !important;
		padding-bottom: 10px;
	}
	.video-span img {
		width: 96vw;
	}
	.video-span {
		padding-top: 20px;
	    padding-left: 20px;
	    padding-right: 10px;
	}
	.video-span span {
		width: 700px !important;
		padding-top: 18%;
   		padding-left: 32%;
	}
}
@media screen and (max-width: 900px) {
	.video-span span {
		width: 700px !important;
		padding-top: 18%;
   		padding-left: 22%;
	}
}
@media screen and (max-width: 800px) {
	#wrapper {
		margin-bottom: 20px;
	}
	body {
		margin: 0px;
	}
	#artwork-content img, #photo-content img {
		width: 50vw;
		padding: 0.5vw 0.5vw 0px 0.5vw;
	}
	.photo-span:hover span {
		margin: 6% 0% -9% 17%;
	}
	.section-title {
		font-size: 5vw !important;
		padding-bottom: 20px;
		padding-left: 10px;
	}
	.video-span img {
		width: 99vw;
	}
	.video-span {
		padding-top: 10px;
	    padding-left: 12px !important;
	    padding-right: 0px !important; 
	}
	.video-span span {
		width: 700px !important;
		padding-top: 18%;
   		padding-left: 6%;
	}
}
/*
@media screen and (max-width: 700px) {
	.video-span span {
		width: 700px !important;
		padding-top: 18%;
   		padding-left: 0;
   		padding-right: 8%;
	}
}
*/
@media screen and (max-width: 600px) {
	#wrapper {
		margin-top: 0px;
		margin-bottom: 0px;
	}
	#artwork-content img, #photo-content img {
		width: 100vw;
		padding: 0.5vw 0.5vw 0px 0.5vw;
	}
	.photo-span:hover span {
		margin: 1% 0% -9% 37%;
		width: 110px;
	}
	#video-container {
		display: none;
	}
	/*
	.video-span img {
		width: 100vw;
		border: none;
	}
	.video-span {
		padding-top: 0px;
	    padding-left: 10px !important;
	    padding-right: 0px !important; 
	}
	.video-span span {
		width: 700px !important;
		padding-top: 18%;
   		padding-left: 0;
   		padding-right: 14%;
	}
	.video-span span, .photo-span span {
		display: none !important;
	}
	.video-span:hover img, .video-span:hover img {
		opacity: 1 !important;
	}
	*/
	.section-title {
		font-size: 10vw !important;
		padding-bottom: 20px;
		padding-left: 10px;
	}
	#photo-container {
		padding-top: 0px;
	}
	#about-section {
		margin-top: 0px;
	}
	#about-section span {
		display: block;
		padding: 0px 10px;
		margin-left: 9%;
		margin-top: -20px;
	}
	p#introparagraph-span {
		font-size: 14px !important;
	}
	#introparagraph-span .link {
		font-size: 14px !important;
	}
	#portrait {
		height: 100%;
		width: 100%;
		padding-right: 0px;
	}
	#introparagraph {
		display: none;
	}
	#introparagraph a {
		line-height: 17px;
	}
	#artwork-container {
		padding-top: 0px;
	}
	.biggeremoji {
		font-size: 20px !important;
    	letter-spacing: 0px;
    	display: none;
	}
}

@media screen and (max-width: 485px) {
	#about-section span {
		margin-left: 6%;
	}
	.video-span {
		padding-top: 0px;
	    padding-left: 10px !important;
	    padding-right: 0px !important; 
	}
}
@media screen and (max-width: 475px) {
	#about-section span {
		margin-left: 4%;
		margin-top: -30px;
	}
}
@media screen and (max-width: 445px) {
	#about-section span {
		margin-left: 3%;
	}
}
@media screen and (max-width: 435px) {
	#about-section span {
		margin-left: 1%;
	}
}

@media screen and (max-width: 421px) {
	#about-section span {
		margin-left: 0px;
		margin-top: -40px;
	}
	p#introparagraph-span {
	    font-size: 3.3vw !important;
	}
	p#introparagraph-span a {
		line-height: 7vw;
	}
	#introparagraph-span .link {
		font-size: 3.3vw !important;
	}
}

@media screen and (max-width: 340px) {
	p#introparagraph-span {
	    font-size: 3.2vw !important;
	}
	p#introparagraph-span a {
		line-height: 6vw;
	}
	#introparagraph-span .link {
		font-size: 3.2vw !important;
	}
}