* {
	box-sizing: border-box;
}

#wrapper {
	width: calc(100% - 100px);
	margin: 0 auto;
	margin-top: 34px;
}

#projects-content {
	display: none;
	margin-bottom: -30px !important;
}

#education-content {
	display: none;
	margin-left: 25px !important;
	margin-bottom: 20px !important;
}

#photography-content {
	display: none;
	margin-left: 25px !important;
}

body {
	font-family: 'Menlo', sans-serif;
	font-weight: 300;
}

h1 {
	font-family: 'Menlo', sans-serif;
	padding-top: 30px;
	margin-bottom: -18px;
	font-size: 35px;
	font-weight: 300;
}

h2 {
	font-family: 'Menlo', sans-serif;
	font-weight: 500;
	font-kerning: normal;
	font-size: 28px;
	margin-bottom: -20px;
	padding-top: 50px;
}

h3 {
	font-family: 'Menlo', sans-serif;
	padding-top: 30px;
	margin-bottom: -34px;
	font-size: 28px;
	font-weight: 300;
}

p {
	font-size: 12px;
}

header p {
	display: inline;
	opacity: 0.6;
	font-style: italic;
}

#introparagraph {
	margin-top: 18px;
}

#hsam {
	margin: -10px 0px 0px 25px;
	height: 275px;
}









nav, a {
	font-family: 'Circular Std';
	font-size: 22px;
	line-height: 28px;
	letter-spacing: .2px;
}

nav {
	text-align: left;
	z-index: 1;
	margin-left: 10px;
	padding-bottom: 0px;
}

nav a {
	display: inline;
	margin-left: 14px;
	margin-bottom: 1em;
	text-decoration: none;
	padding-bottom: 2px;
}

nav li {
	display: inline;
	margin-left: -24px;
}

nav a:link {
	color: black;
}

nav a:visited {
	color: black;
}

/*
nav a:hover {
	padding-bottom: 2px;
	border-bottom: 2px solid black;
}
*/
nav ul {
	list-style-type: none;
	padding-left: 0;
	display: inline;
}










/*

MAIN BODY

*/

* {
	font-size: 12px;
}

.main {
	font-family: 'Circular Std';
	font-size: 17.5px;
	line-height: 32px;
	letter-spacing: 0px;
}

.link {
	font-family: inherit;
	font-size: 12px;
	padding: 0px 2px 0px 2px;
	color: black;
	text-decoration: underline;
}

.link:hover {
	color: white;
    background: gray;
    text-decoration: none;
}

.headline {
	padding: 2px 4px 2px 4px;
	font-family: inherit;
	font-size: inherit;
	background: #0000ff;
	color: white;
}

.headline:hover {
	cursor: pointer;
}

.title {
	font-family: inherit;
	letter-spacing: 0px;
	margin-left: 16px;
	font-size: 12px;
}

.desc {
	border: 1px solid black;
	padding: 6px;
	max-width: 700px;
	font-family: inherit;
	font-size: 12px;
	line-height: inherit;
	background: inherit;
	color: inherit;
	margin: -6px 0px -6px 36px;
}

.project-links {
	margin-left: 50px;
}

.descfix {
	margin: 6px 0px -6px 36px;
}

.biggeremoji {
	font-size: 28px !important;
	letter-spacing: 2px;
}

.lightgrey {
	color: darkgrey;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
	background: inherit;
}

::selection {
	color: inherit;
    background: inherit;
}